<!-- {% for page in site.pages %}
	{% if page.title and page.main_nav == true %}
	<li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
	{% endif %}
{% endfor %} -->
	<li class="nav-link"><a href="/about">About</a>
	<li class="nav-link"><a href="/pie">Pie</a>
	<li class="nav-link"><a href="/kancho">Kancho</a>
	<li class="nav-link"><a href="/youngseok">chickenPop</a>
	<li class="nav-link"><a href="/posts">All</a>
	<li class="nav-link"><a href="/typography">Typography</a>
