<!-- {% for page in site.pages %}
	{% if page.title and page.main_nav == true %}
	<li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
	{% endif %}
{% endfor %} -->
	<li class="nav-link"><a href="{{ page.url }}/about">About</a>
	<li class="nav-link"><a href="/gansaeldaejangBlog/pie">Pie</a>
	<li class="nav-link"><a href="/gansaeldaejangBlog/kancho">Kancho</a>
	<li class="nav-link"><a href="/gansaeldaejangBlog/youngseok">chickenPop</a>
	<li class="nav-link"><a href="/gansaeldaejangBlog/posts">All</a>
	<li class="nav-link"><a href="/gansaeldaejangBlog/typography">Typography</a>
